pip
fastapi
starlette
uvicorn
aiohttp
python-multipart
pydantic==2.*
google-cloud-firestore>=2.21
google-api-core
google-auth
grpcio
numpy>=1.26
scipy>=1.11
pandas
pillow
matplotlib
python-dotenv
requests
tqdm
regex
coloredlogs
tenacity
huggingface_hub
safetensors
accelerate
timm>=1.0.7
streamlit
